<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyh.mapper.MenuPermissionMapper">
	<select id="getMenuByUserId" parameterType="java.lang.Integer" resultType="com.cyh.pojo.MenuPermission">
		SELECT
			t2.id,
			t2.`name`,
			t2.type,
			t2.url,
			t2.parentid parentId,
			t2.order_list orderList,
			t2.icon_cls iconCls,
			t2.`status`,
			t2.remark
		FROM
			user t1,
			menupermission t2,
			usertomenupermissionmapping t3
		WHERE
			t1.id = t3.userid
			AND t2.id = t3.menupermissionid
			AND t1.id = #{uid}
			AND t2.type = 'menu'
		ORDER BY
			t2.id
	</select>

	<select id="getPermissionListByUserId" parameterType="java.lang.Integer" resultType="com.cyh.pojo.MenuPermission">
		SELECT
			t2.id,
			t2.`name`,
			t2.type,
			t2.url,
			t2.parentid parentId,
			t2.order_list orderList,
			t2.icon_cls iconCls,
			t2.`status`,
			t2.remark
		FROM
			user t1,
			menupermission t2,
			usertomenupermissionmapping t3
		WHERE
			t1.id = t3.userid
			AND t2.id = t3.menupermissionid
			AND t1.id = #{uid}
			AND t2.type = 'permission'
		ORDER BY
			t2.id
	</select>

	<select id="getAllMenu"  resultType="com.cyh.pojo.MenuPermission">
		SELECT
			t2.id,
			t2.`name`,
			t2.type,
			t2.url,
			t2.parentid parentId,
			t2.order_list orderList,
			t2.icon_cls iconCls,
			t2.`status`,
			t2.remark
		FROM
			menupermission t2
		#WHERE
			#t2.type = 'menu'
	</select>

	<select id="getMenuPermissionByRoleId"  resultType="java.lang.Integer">
		SELECT
			t.menuid
		FROM
			role_menu t
		WHERE
			t.roleid = #{rid}
	</select>

	<delete id="deleteMenuPermissionByRoleId" parameterType="java.lang.Integer" >
		delete from role_menu where roleid = #{rid}
	</delete>

	<insert id="insertMenuPermissionByRoleId"  parameterType="java.lang.String">
		insert into role_menu(roleid,menuid) values
		<foreach collection="permissionsId" item="pid"   separator="," close=";">
			(#{rid},#{pid})
		</foreach>
	</insert>
</mapper>